@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  flex-direction: row;
  gap: 80px;
  background-color: #000000;
  padding: 50px 0px 0px 370px;
}
.link_header{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #22d4fd;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  padding-bottom: 200px;
}

h1,
p {
  color: #f6f6f6;
}
strong {
  color: #22d4fd;
}
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 615px;
  height: 482px;

  margin-right: 50px;
}

h1 {
  font-family: "Krona One", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 40px 0;
  line-height: 56px;
}

h2{
  font-family: "Krona One", sans-serif;
  color: #f6f6f6;

}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 36px;
  
}

.botoes {
  width: 584px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  margin-top: 50px;
  
}

.img {
  margin-top: 100px;
}

.links_redes_sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  padding: 16px;

  width: 378px;
  height: 68px;
  

  border-radius: 8px;
  border: solid #22d4fd 2px;

 
  color:#f6f6f6;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.links_redes_sociais:hover {
  background-color:#09acd1;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22d4fd;
  height: 80px;
  font-family: "Montserrat", sans-serif;

}
.Paragrafo_footer {
  color: #000000;
}