@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  padding: 4rem 9rem;
  background-color: #000000;
}
nav{
  display: flex;
  gap: 60px;
}
.link_header{
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #22d4fd;

}
body{
  background-color: #000000;

}

main {
  display: flex;
  justify-content: center;
  padding: 5% 10%  20% 10%;
  gap: 50px;
  
}

h1,
p {
  color: #f6f6f6;
}
strong {
  color: #22d4fd;
}

h1 {
  font-family: "Krona One", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 40px 0;
  line-height: 3.5rem;
}

h2{
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #f6f6f6;

}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  
}

.botoes {
  width: 584px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-top: 50px;
  
}



.links_redes_sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  padding: 1rem;

  width: 378px;
  height: 68px;
  

  border-radius: 8px;
  border: solid #22d4fd 2px;

 
  color:#f6f6f6;
  text-decoration: none;
}

.links_redes_sociais:hover {
  background-color:#09acd1;
}

footer{
  text-align: center;
  background-color: #22d4fd;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;

}
.Paragrafo_footer {
  color: #000000;
  
}

@media (max-width: 1366px) {
  
  header{
    padding: 3% 8.5%;
  }
  main{
    gap: 50px;
    padding: 8% 10%  20% 10%;
  }
  h1{
    font-size: 2.1rem;
  }
  p{
    text-align: justify;
    font-size: 1.4rem;
  }
  
  footer{
    padding: 0.8rem;
  }
 
  .Paragrafo_footer{
    text-align: center;
  }

}
