@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --white-color:#f6f6f6;
  --black-color:#000000; 
  --light-blue-color:#22d4fd;

  --Primary-ource: "Krona One", sans-serif;
  --Secondary-source:"Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  padding: 2% 18%;
  background-color: var(--black-color);
}
nav{
  display: flex;
  gap: 60px;
}
.link_header{
  font-family: var(--Secondary-source);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--light-blue-color);

}
body{
  background-color: var(--black-color);

}

main {
  padding: 5% 18% 15% 18%;
  display: flex;
  justify-content: space-between;
  gap: 82px;
 
  
}
.conteudo{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 40px;

}
.img{
  width: 50%;
}

h1,
p {
  color: var(--white-color);
}
strong {
  color: var(--light-blue-color);
}

h1 {
  font-family: var(--Primary-ource);
  font-size: 2.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 40px 0;
  line-height: 3.5rem;
}

h2{
  font-family: var(--Primary-ource);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--white-color);

}
p {
  font-family: var(--Secondary-source);
  font-size: 1.5rem;
  line-height: 2.25rem;
  
}

.botoes {
  width: 584px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-top: 50px;
  
}



.links_redes_sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: var(--Secondary-source);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  padding: 1rem;

  width: 50%;
  
  

  border-radius: 8px;
  border: solid var(--light-blue-color) 2px;

 
  color:var(--white-color);
  text-decoration: none;
}

.links_redes_sociais:hover {
  background-color:#c9c9c957;

}

footer{
  text-align: center;
  background-color: var(--light-blue-color);
  padding: 1.5rem;
  font-family: var(--Secondary-source);
  font-size: 1.5rem;

}
.Paragrafo_footer {
  color: var(--black-color);
  
}

@media (max-width: 1366px) {
  
  header{
    padding: 3% 10%;
  }
  main{
    gap: 50px;
    padding: 8% 10%  20% 10%;
  }
  h1{
    font-size: 2.1rem;
  }
  p{
    text-align: justify;
    font-size: 1.4rem;
  }
  
  footer{
    padding: 0.8rem;
  }
 
  .Paragrafo_footer{
    text-align: center;
  }

}
@media (max-width: 1024px){

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0% 3% 0%;
  }

  main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
  }
  .conteudo{
    width: 80%;
  }
  footer{
    margin-top: 100px;
  }
 
}